h1 {
	color: #2a7ae2;
    font-size: 36px;
    line-height: 40px;
}

h2 {
	color:#f44336;
    font-size: 30px;
    line-height: 40px;
}

h3 {
	color:#4caf50;
    font-size: 24px;
    line-height: 40px;
}

h4 {
	color: #ff9800;
    font-size: 18px;
    line-height: 20px;
}

/* Won't be used here */

h5 {
	color:#607d8b;
    font-size: 14px;
    line-height: 20px;
}

h6 {
	color: #ffeb3b;
    font-size: 12px;
    line-height: 20px;
}